h1 {
    font-family: 'Brush Script MT', cursive;
    color: #55208a;
    text-align: center;
    font-size: 72px;
}

p {
   font-family: 'Apple Chancery', cursive;
   text-align: center;
   font-size: 24px;
   color: #821229;
}

img {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    border: 5px solid #821229;
}